/* ContactUs.css */

/* Global styles */
/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  /* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  } */
  /* .conbg{
    background-color: #777;
  } */
  .container {
  background-image: url("https://www.hdwallpapers.in/download/modern_agriculture_4k-2560x1600.jpg");
    display: flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
  }
  
  .about-content {
    flex: 1; /* Allow the main content to grow and fill the available space */
    padding: 20px;
  }
  
  .sticky-footer {
   
    margin-top: auto; /* Push the footer to the bottom */
    background-color: black; /* Set the background color of the footer */
    padding: 20px; /* Increase the padding to increase the height of the footer */
    text-align: center;
  }
  
  /* ContactUs component specific styles */
  .contact-form {
    
    max-width: 600px;
    margin-top: 50px;
    margin-left: 440px;
    /* margin: 0 auto; */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

    background-color: rgba(255, 255, 255, 0.701);
}
  
  .contact-form h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 8px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form button {
    background: #3498db;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background: #2980b9;
  }
  
  footer {
    text-align: center;
    margin-top: 40px;
  }
  
  footer p {
    font-size: 0.9em;
    color: #777;
  }