
.adminmain{
    flex: 5.1.5;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.571);
    height:fit-content;
  }
  
  h1 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #131212;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .addashboard-container {
    display: flex;
    flex: 1;
  }
  
.bod{
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
  }
  