/* TableComponent.css */

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  height: 330px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px; /* Increased padding for a more spacious look */
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

input[type="checkbox"] {
  margin-right: 5px;
}
